@{
    ViewData["Title"] = "Index";
}
<head>
    <meta http-equiv="refresh" content="3; URL=/Employe/Index" />
</head>
<div class="text-center">
    <h1 >Welcome to Employe Management</h1>
    <img href="C:\Users\msonga\Downloads\Employee-Management-System.png" height="200" width="400"/>
</div>
